.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.imageList{
	max-width: 1200px;
	margin: auto;
}
.imageList *,
.imageList *::before,
.imageList *::after{
	box-sizing: border-box;
	transition: all .5s ease; 
}
.imageList figure{
	float: left;
	width: 30%;
	margin: calc(10%/6);
	overflow: hidden;
	border: 10px solid #fff;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
	position: relative;
	cursor: pointer;
}
.imageList figure img{
	width: 100%;
	vertical-align: top;
}
.imageList figure:hover img{
	transform: scale(1.2) rotate(6deg);
}
.imageList figure figcaption{
	position: absolute;
     width: 60%;
	height: 30%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	color: #FFFFFF;
	border: 1px solid #fff;
	z-index: 3;
	text-align: center;
	border-bottom: none;
	background-color:rgba(0,0,0,.3);
}
.imageList figure:hover figcaption{
	background-color:rgba(0,0,0,1);
}


.imageList figure figcaption::before{
	content: "";
	position: absolute;
    width: 50%;
	height: 1px;
	background-color: #fff;
	bottom: 0;
	left: 0;
}
.imageList figure figcaption::after{
	content: "";
	position: absolute;
    width: 50%;
	height: 1px;
	background-color: #fff;
	bottom: 0;
   right: 0;
}

.imageList figure:hover figcaption::before,
.imageList figure:hover figcaption::after{
	width: 20%;
}

.imageList figure figcaption h3,
.imageList figure figcaption p{
	color: #fff;
	text-align: center;
	font-size: 1.4em;
}
.imageList figure figcaption p{
	font-size: 1em;
	position: relative;
	top: -5px;
	opacity: 0;
}
.imageList figure:hover figcaption p{
	opacity: 1;
}