*{
	box-sizing: border-box;
}
.warpper{
	max-width: 1200px;
	min-width: 768px;
	margin: auto;
}
.clearfix{
	padding: 0px;
}
	
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}	

header,footer{
	border: 1px solid #9df;
	height: 120px;
	margin: 5px 0px;

}
aside{
	border: 1px solid #9df;
	width: 280px;
	padding: px;
	height: 400px;
	float: left;
}
main{
	border: 1px solid #9df;
	height: 400px;
	margin:0 0 0 300px;
	width:auto;
	}
	

a:link{
	color:#9df;
}
a:visited{
	color:red;
}
a:hover{
	color:black;
}
a:active{
	color:#ff0;
}

	

